<mat-card *ngIf="!isLoggedIn()">
  <mat-card-header>
    <mat-card-title>{{article.controls.title.value}}</mat-card-title>
    <mat-card-subtitle>{{article.controls.description.value}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="article.controls.content.value"></p>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="isLoggedIn()">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput [formControl]="article.controls.id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [formControl]="article.controls.title" />
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [formControl]="article.controls.description" />
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        [formControl]="article.controls.content"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="50"
      >
      </textarea>
    </mat-form-field>
    <p>Preview:</p>
    <p [innerHTML]="article.controls.content.value"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="updateArticle()">Save</button>
  </mat-card-actions>
</mat-card>
