<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [formControl]="loginForm.controls.username" [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="loginForm.controls.username.hasError('invalidUsernameOrPassword')">
        Username or password is invalid
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="loginForm.controls.password" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent" (click)="login()">Login</button>
  </mat-grid-tile>
</mat-grid-list>
