/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  // margin: 0 auto;
}
body {
  background-color: #303030;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

mat-card-title, p {
  color: aliceblue;
}
